$font-color-red:red;


//Font sizes:
$body-main:20px;
$body-large:24px;

$heading-01:72px;
$heading-02:56px;
$heading-03:36px;
$heading-04:28px;
$heading-05:20px;

//Line height
$line-height-body-main:24px;
$line-height-body-large:32px;

$line-height-heading-01:88px;
$line-height-heading-02:64px;
$line-height-heading-03:48px;
$line-height-heading-04:32px;
$line-height-heading-05:24px;

//Font weight

$font-weight-regular:400;
$font-weight-demi:500;
$font-weight-semi-bold:600;
$font-weight-bold:700;


// Color
$color-black:#000000;
$color-white:#ffffff;
$color-grey:#f4f4f4;
$color-yellow:yellow;
$color-red:red;
$color-green:green;